@import "tailwindcss";
@import "./colors.css";

@font-face {
  font-family: "Almarai";
  src: url("./assets/fonts/Almarai-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("./assets/fonts/Almarai-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("./assets/fonts/Almarai-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("./assets/fonts/Almarai-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #da1e33;
  --color-secondary: #a21c34;
  --sb-track-color: #ffffff;
  --sb-thumb-color: var(--color-secondary);
  --sb-size: 10px;
}

* {
  font-family: "Almarai", serif;
  font-display: swap;
}

p {
  /* Increase line height for Arabic text  */
  @apply leading-relaxed;
}

@utility debug {
  @apply border-pink-600 border-4;
}

.underlineR {
  @apply relative pb-4 w-fit mx-auto;
  /* Adds a line under header text */
}

.underlineR::after {
  content: "";
  inset-inline-start: 25%;
  background-color: var(--color-primary);
  transform: translateY(-30%);
  @apply bottom-0 h-1 w-[50%] absolute;
}

/* WebKit Browsers (Chrome, Safari) */
html::-webkit-scrollbar {
  inline-size: var(--sb-size);
  scrollbar-width: var(--sb-size);
}

html::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
  scrollbar-width: var(--sb-size);
}

html::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  scrollbar-width: var(--sb-size);
  border-radius: 1px;
}

/* WebKit Browsers (firefox) */
@supports not selector(::-webkit-scrollbar) {
  html,
  body {
    scroll-behavior: smooth;
    scrollbar-base-color: var(--sb-thumb-color);
    scrollbar-color: var(--sb-thumb-color) var(--sb-thumb-color);
    scrollbar-width: 50px !important;
  }
}

img {
  user-select: none;
}

*::selection {
  color: white;
  background: var(--color-secondary);
}

*::-moz-selection {
  color: white;
  background: var(--color-secondary);
}
