@import "tailwindcss";
@import "./colors.css";

@font-face {
  font-family: "Almarai";
  src: url("./assets/fonts/Almarai-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("./assets/fonts/Almarai-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("./assets/fonts/Almarai-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("./assets/fonts/Almarai-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Almarai", serif;
}

p {
  /* Increase line height for Arabic text  */
  @apply leading-relaxed;
}

@utility debug {
  @apply border-pink-600 border-4;
}

html {
  scroll-behavior: smooth;
}

.underlineR {
  @apply relative pb-4 w-fit mx-auto; /* Adds a line under header text */
}

.underlineR::after {
  content: "";
  left: 25%;
  background-color: var(--color-primary);
  transform: translateY(-30%);
  @apply bottom-0 h-1 w-[50%] absolute;
}
