@import "tailwindcss";

@font-face {
  font-family: "Almarai";
  src: url("./assets/fonts/Almarai-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Almarai";
  src: url("./assets/fonts/Almarai-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Almarai";
  src: url("./assets/fonts/Almarai-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Almarai";
  src: url("./assets/fonts/Almarai-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@theme {
  --color-primary: #da1e33;
  --color-secondary: #a21c34;
}

* {
  font-family: "Almarai", serif;
}

p {
  @apply leading-relaxed; /* Increase line height for Arabic text  */
}

.debug {
  @apply border-pink-600 border-4;
}
