@import "../../colors.css";

.loader {
  animation: rotation 1s linear infinite;
  /* margin: 0 calc(100vw - 100%); */
  margin: auto;
  @apply size-20 shadow rounded-full box-border border-8 border-white border-b-secondary;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
