@import "tailwindcss";

.ev-title-sponsors {
  position: relative;
  text-align: center;
}

.ev-title-sponsors::after {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  @apply bottom-0 h-1 w-[15%] lg:w-[5%] absolute;
}
