.card-button:hover svg {
  transform: translateX(4px);
}
.card-button svg {
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}
.card-images{
  aspect-ratio: 16/12;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
