@import "../../../colors.css";

.ev-section {
  background-image: url("/images/pyramids.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  * {
    @apply z-1;
  }

  p,
  button {
    @apply font-semibold text-base;
  }
}

/* overlay for the background image */
.ev-section::before {
  content: "";
  background-color: #252220;
  @apply bottom-0 size-full absolute z-0 opacity-80;
}

.ev-arrow {
  @apply relative transform transition-transform duration-200;
}

.ev-button {
  @apply px-4.5 py-2 rounded flex items-center justify-between space-x-3;
}
