@font-face {
    font-family: 'CustomFont';
    src: url('../../assets/fonts/arfonts-vip-hala-bold-vip-hala-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logo {
    font-family: 'CustomFont', sans-serif;
    background: linear-gradient(90deg, #a61c36, #e7203b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

